[defaults]
inventory = ~/frankenas/inventories/prod/hosts.yml
roles_path = ~/frankenas/roles
remote_user = root
host_key_checking = False

[ssh_conneciton]
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
